:root {
    --begie: #F8B195;
    --pink: #F67280;
    --purple: #5f3e78;
}

html{
    font-family: 'Poppins', 'Roboto', sans-serif;
}

body{
    /*background-image: linear-gradient(220deg, var(--begie), var(--pink)10%, var(--purple)50%);*/
    color: white;
    background-color: black;
}

/* Barra de Navegação */
.navbar-container, .logo-container, nav{
    display: flex;
    align-items: center;
}

.navbar-container {
    justify-content: space-between;
    padding: 5px 0;
    margin: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#logo{
    text-decoration: none;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: 500;
    border-bottom: solid 1px transparent;
    transition: 1s;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: solid 1px white;
    transition: 1s;
}

h1 {
    margin: 10px 20px;
}

/* Elemento Principal */
.elemento-pricipal{
    width: 100vw;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    padding: 0 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5% 30%;
    border: solid 2px white;
    background-color: whitesmoke;
    transition: 0.7s;
    cursor: pointer;
    min-height: 350px;
    width: 300px;
    margin: 0 18px;
    padding: 0 15px 0px 10px;
    color: black;
    min-width: 200px;
}

.card:hover {
    border: solid 2px white;
    background-color: transparent;
    transform: translate3d(20px, 10px, 0);
    transition: 1s;
    color: white;
}

.card p {
    font-size: 20px;
    text-align: justify;
    width: 100%;
    line-height: 20px;
    padding: 1px 0;
}


@media(max-width: 500px){
    
    nav a{
        display: none;
    }

    #logo{
        font-size: 24px;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
        padding: 0 20px;
    }

    .card{
        margin: 20px 0;
        min-width: 150px;
        width: 250px;
    }
}