* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

:root {
    --begie: #F8B195;
    --pink: #F67280;
    --purple: #5f3e78;
}

html {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(220deg, var(--begie), var(--pink)10%, var(--purple)50%);
    color: white;
}

/*Header*/
#logo {
    height: 45px;
    width: 95px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px 20px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 15px;
    font-weight: 500;
    border-bottom: solid 1px transparent;
    transition: 1s;
}

header a:hover {
    border-bottom: solid 1px white;
    transition: 1s;
}

hr {
    border-top: 1px solid #FFFFFF;
}

/* Main content */
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: solid 2px transparent;
    height: 395px;
    width: 26%;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.45);
    transition: 0.7s;
    cursor: pointer;
}

.card:hover {
    border: solid 2px white;
    background-color: transparent;
    transform: translate3d(10px, 5px, 0);
    transition: 0.7s;
}

.card p {
    padding: 0 2%;
    font-size: 15px;
    text-align: center;
}

.card a{
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.card img{
    height: 215px;
    width: 215px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}

h1 {
    margin: 10px 20px;
}

/* !! MEDIA !! */
@media (max-width: 767px) {
    header a {
        display: none;
    }
    
    section {
        flex-direction: column;
        align-items: center;

    }

    .card {
        display: flex;
        justify-content: flex-start;
        width: 60vh;
        height: auto;
        padding-bottom: 20px;
    }
    
    .card a{
        padding-top: 8px;
        text-align: center;
    }
    
    .card img {
        width: 300px;
        height: 300px;
    }
    
    .card p {
        display: none;
    }
}